body{background-color:black;}
#principal{
	position:relative; 
	height: 4300px; 
	width: 1000px;
    margin-left:auto; 
    margin-right:auto; 
    margin-top: 60px;
    padding-left: 0px; 
    padding-right:10px;
    padding-bottom: 10px; 
    padding-top:5px; 
    font-family:Times;
}
#capa1{
	background-color:black; 
	position:relative; 
	HEIGHT: 180px; 
	WIDTH: 1365px; 
    margin-left:-10px; 
    margin-top: -10px; 
    background-attachment: 
    fixed; 
    background-repeat: no-repeat;
}

#logo{
	position:absolute; 
	height: 136px; 
	width: 450px; 
	margin-left: 20px;
    margin-top: 20px; 
    text-align: center; 
}

#ima{
	position:absolute; 
	height: 210px; 
	width: 400px; 
	margin-left: 750px;
    margin-top: 5px; 
    text-align: center;	
}
div#linea2 {
    position:absolute; 
	HEIGHT: 1px; 
	WIDTH: 1150px; 
    margin-left:25px; 
    margin-top:20px;
    padding-left: 0px; 
    padding-right:0px;
    padding-bottom: 0px; 
    padding-top:0px; 
    border-width: 1px; 
    border-color: #FC9E05;
    border-style: solid;
    border-radius:5px;	
    background-color: #FC9E05;
}

.texto{
	font-size:8pt; 
	text-align: center; 
	color:white;
	font-family: Trebuchet MS;
	line-height:5px;
}
.texto1{
	font-size:10pt; 
	text-align: justify; 
	color:white;
	font-family: Trebuchet MS;
	line-height:15px;
}
.titulo{
	font-size:30pt; 
	text-align: center; 
	color:white;
	font-family: Trebuchet MS;
	line-height:10px;
} 
.link{
	font-size:8pt; 
	text-align: center; 
	color:#FC9E05;
	font-family: Trebuchet MS;
	line-height:5px;
}
label{
	font-size:10pt; 
	text-align: justify; 
	color:white;
	font-family: Trebuchet MS;
	line-height:15px;	
}
#cont{
	position:absolute; 
	HEIGHT: 4200px; 
	WIDTH: 900px; 
    margin-left:30px; 
    margin-top:-70px;
    padding-left:1px;
    padding-top:30px;
}


div#copyright {
	position:absolute; 
    font:11px 'Trebuchet MS';
    color:white;
    text-indent:1px;
    padding:40px 0 0 0;
    margin-top:-20px;
    margin-left:400px;
    padding-top:0px; 
}
div#copyright a { color:#000; }
div#copyright a:hover { color:#222; }
div#linea {
    position:absolute; 
	HEIGHT: 1px; 
	WIDTH: 1150px; 
    margin-left:25px; 
    margin-top:-30px;
    padding-left: 0px; 
    padding-right:0px;
    padding-bottom: 0px; 
    padding-top:0px; 
    border-width: 1px; 
    border-color: #FC9E05;
    border-style: solid;
    border-radius:5px;	
    background-color: #FC9E05;
}

table
{ 
  border: #FC9E05; 
}
.td1
{ 
  border: black; 
}

#pantallat{
	position:absolute; 
	HEIGHT: 70px; 
	WIDTH: 300px; 
    margin-left:300px; 
    margin-top:0px;
    padding-left:0px;
    padding-top:0px;
}

#camat{
	position:absolute; 
	HEIGHT: 70px; 
	WIDTH: 600px; 
    margin-left:150px; 
    margin-top:20px;
    padding-left:0px;
    padding-top:0px;
}

#comt{
	position:absolute; 
	HEIGHT: 70px; 
	WIDTH: 600px; 
    margin-left:150px; 
    margin-top:20px;
    padding-left:0px;
    padding-top:0px;
}

#celt{
	position:absolute; 
	HEIGHT: 70px; 
	WIDTH: 600px; 
    margin-left:150px; 
    margin-top:20px;
    padding-left:0px;
    padding-top:0px;
}

#vjt{
	position:absolute; 
	HEIGHT: 70px; 
	WIDTH: 600px; 
    margin-left:150px; 
    margin-top:20px;
    padding-left:0px;
    padding-top:0px;
}

#cargar{
	position:absolute; 
	HEIGHT: 30px; 
	WIDTH: 120px; 
    margin-left:400px; 
    margin-top:0px;
    padding-left:0px;
    padding-top:0px;
}

#total{
	position:absolute; 
	HEIGHT: 30px; 
	WIDTH: 300px; 
    margin-left:150px; 
    margin-top:0px;
    padding-left:0px;
    padding-top:0px;
}

#targeta{
	position:absolute; 
	HEIGHT: 30px; 
	WIDTH: 300px; 
    margin-left:500px; 
    margin-top:0px;
    padding-left:0px;
    padding-top:0px;
}

#comprar{
	position:absolute; 
	HEIGHT: 30px; 
	WIDTH: 120px; 
    margin-left:750px; 
    margin-top:0px;
    padding-left:0px;
    padding-top:0px;
}


