body{background-color:black;}
#principal{
	position:relative; 
	height: 1000px; 
	width: 1200px;
    margin-left:auto; 
    margin-right:auto; 
    margin-top: 60px;
    padding-left: 0px; 
    padding-right:10px;
    padding-bottom: 10px; 
    padding-top:5px; 
    font-family:Times;
}
#capa1{
	background-color:black; 
	position:relative; 
	HEIGHT: 180px; 
	WIDTH: 1365px; 
    margin-left:-10px; 
    margin-top: -10px; 
    background-attachment: 
    fixed; 
    background-repeat: no-repeat;
}
#menucont{
	height:42px; 
	width:1365px; 
	background-color:#FC9E05; 
	margin-top:0px;
    margin-left: -7px; 
    padding-top: 2px;
}
div#menu {
	height:41px; 
	background:url(images/main-bg.png) repeat-x; 
	margin-top:0px;
    margin-left: -2px;
}
#logo{
	position:absolute; 
	height: 136px; 
	width: 450px; 
	margin-left: 20px;
    margin-top: 20px; 
    text-align: center; 
}
#presentacion{
	position:absolute; 
	height: 450px; 
	width: 739px;
    margin-left:440px; 
    margin-top: 37px;
    padding-left: 0px; 
    padding-right:0px;
    padding-bottom: 10px; 
    padding-top:0px; 
    background-color:white;
    border-radius:10px;
}
#local{
	position:absolute; 
	HEIGHT: 120px; 
	WIDTH: 160px; 
    margin-left:650px; 
    margin-top:10px;
    border-width: 3px; 
    border-color: #373434;
    border-style: solid;	
}
#local1{
	position:absolute; 
	HEIGHT: 120px; 
	WIDTH: 160px; 
    margin-left:850px; 
    margin-top:10px;
    border-width: 3px; 
    border-color: #373434;
    border-style: solid;
}
#local2{
	position:absolute; 
	HEIGHT: 120px; 
	WIDTH: 160px; 
    margin-left:1050px; 
    margin-top:10px;
    border-width: 3px; 
    border-color: #373434;
    border-style: solid;
}
.texto{
	font-size:8pt; 
	text-align: center; 
	color:white;
	font-family: Trebuchet MS;
	line-height:5px;
}
.texto1{
	font-size:10pt; 
	text-align: justify; 
	color:white;
	font-family: Trebuchet MS;
	line-height:15px;
}
.titulo{
	font-size:18pt; 
	text-align: center; 
	color:white;
	font-family: Trebuchet MS;
	line-height:10px;
} 
.link{
	font-size:8pt; 
	text-align: center; 
	color:#FC9E05;
	font-family: Trebuchet MS;
	line-height:5px;
}
#carrito{
	position:absolute; 
	HEIGHT: 36px; 
	WIDTH: 36px; 
    margin-left:170px; 
    margin-top:750px;
} 
#qs{
	position:absolute; 
	HEIGHT: 21px; 
	WIDTH: 150px; 
    margin-left:30px; 
    margin-top:950px;
    color:white;
}
#mp{
	position:absolute; 
	HEIGHT: 21px; 
	WIDTH: 100px; 
    margin-left:160px; 
    margin-top:950px;
    color:white;
} 
#l{
	position:absolute; 
	HEIGHT: 21px; 
	WIDTH: 50px; 
    margin-left:230px; 
    margin-top:950px;
    color:white;
} 
#tel{
	position:absolute; 
	HEIGHT: 23px; 
	WIDTH: 22px; 
    margin-left:260px; 
    margin-top:950px;	
}
#ct{
	position:absolute; 
	HEIGHT: 21px; 
	WIDTH: 200px; 
    margin-left:260px; 
    margin-top:950px;
    color:white;
}
#mail{
	position:absolute; 
	HEIGHT: 23px; 
	WIDTH: 22px; 
    margin-left:445px; 
    margin-top:950px;	
} 
#mail1{
	position:absolute; 
	HEIGHT: 21px; 
	WIDTH: 200px; 
    margin-left:450px; 
    margin-top:950px;
    color:white;
}
#facebook{
	position:absolute; 
	HEIGHT: 21px; 
	WIDTH: 23px; 
    margin-left:950px; 
    margin-top:950px;	
} 
#facebook1{
	position:absolute; 
	HEIGHT: 21px; 
	WIDTH: 23px; 
    margin-left:980px; 
    margin-top:950px;
    color:white;
} 
#l1{
	position:absolute; 
	HEIGHT: 21px; 
	WIDTH: 50px; 
    margin-left:1015px; 
    margin-top:950px;
    color:white;
}
#twitter{
	position:absolute; 
	HEIGHT: 21px; 
	WIDTH: 30px; 
    margin-left:1050px; 
    margin-top:950px;	
} 
#twitter1{
	position:absolute; 
	HEIGHT: 21px; 
	WIDTH: 23px; 
    margin-left:1085px; 
    margin-top:950px;
    color:white;
}  
div#facebook1 a:link, div#facebook1 a:visited, div#mp a:link, div#mp a:visited,div#twitter1 a:link, div#twitter1 a:visited  {color:#FC9E05; text-decoration: none;}
div#facebook1 a:hover, div#mp a:hover, div#twitter1 a:hover   {text-decoration: underline; #FC9E05;}
#ima1{
	position:absolute; 
	HEIGHT: 140px; 
	WIDTH: 190px; 
    margin-left:0px; 
    margin-top:20px;
    border-width: 3px; 
    border-color: #373434;
    border-style: solid;
}
#des1{
	position:absolute; 
	HEIGHT: 30px; 
	WIDTH: 190px; 
    margin-left:0px; 
    margin-top:165px;
    padding-left: 0px; 
    padding-right:0px;
    padding-bottom: 0px; 
    padding-top:0px; 
    
}
#ima2{
	position:absolute; 
	HEIGHT: 140px; 
	WIDTH: 190px; 
    margin-left:215px; 
    margin-top:20px;
    border-width: 3px; 
    border-color: #373434;
    border-style: solid;
}
#des2{
	position:absolute; 
	HEIGHT: 30px; 
	WIDTH: 190px; 
    margin-left:215px; 
    margin-top:165px;
    padding-left: 0px; 
    padding-right:0px;
    padding-bottom: 0px; 
    padding-top:0px;  
}
#ima3{
	position:absolute; 
	HEIGHT: 140px; 
	WIDTH: 190px; 
    margin-left:0px; 
    margin-top:270px;
    border-width: 3px; 
    border-color: #373434;
    border-style: solid;
}
#des3{
	position:absolute; 
	HEIGHT: 30px; 
	WIDTH: 190px; 
    margin-left:0px; 
    margin-top:415px;
    padding-left: 0px; 
    padding-right:0px;
    padding-bottom: 0px; 
    padding-top:0px;   
}
#ima4{
	position:absolute; 
	HEIGHT: 140px; 
	WIDTH: 190px; 
    margin-left:215px; 
    margin-top:270px;
    border-width: 3px; 
    border-color: #373434; 
    border-style: solid;
}
#des4{
	position:absolute; 
	HEIGHT: 30px; 
	WIDTH: 190px; 
    margin-left:215px; 
    margin-top:415px;
    padding-left: 0px; 
    padding-right:0px;
    padding-bottom: 0px; 
    padding-top:0px; 
    
}
#ima5{
	position:absolute; 
	HEIGHT: 140px; 
	WIDTH: 190px; 
    margin-left:100px; 
    margin-top:520px;
    border-width: 3px; 
    border-color: #373434;
    border-style: solid;
}
#des5{
	position:absolute; 
	HEIGHT: 30px; 
	WIDTH: 190px; 
    margin-left:100px; 
    margin-top:665px;
    padding-left: 0px; 
    padding-right:0px;
    padding-bottom: 0px; 
    padding-top:0px;   
}
#ofer{
	position:absolute; 
	HEIGHT: 300px; 
	WIDTH: 300px; 
    margin-left:850px; 
    margin-top:550px;
    padding-left: 0px; 
    padding-right:0px;
    padding-bottom: 0px; 
    padding-top:0px; 
}
#desofer{
	position:absolute; 
	HEIGHT: 50px; 
	WIDTH: 300px; 
    margin-left:0px; 
    margin-top:0px;
    padding-left: 0px; 
    padding-right:0px;
    padding-bottom: 0px; 
    padding-top:0px; 
}
#desofer1{
	position:absolute; 
	HEIGHT: 60px; 
	WIDTH: 280px; 
    margin-left:5px; 
    margin-top:55px;
    padding-left: 5px; 
    padding-right:5px;
    padding-bottom: 5px; 
    padding-top:0px; 
    background-color: #FC9E05;
    border-radius:10px;
}
#desofer2{
	position:absolute; 
	HEIGHT: 60px; 
	WIDTH: 280px; 
    margin-left:5px; 
    margin-top:125px;
    padding-left: 5px; 
    padding-right:5px;
    padding-bottom: 5px; 
    padding-top:0px; 
    background-color: #FC9E05;
    border-radius:10px;
}
#desofer3{
	position:absolute; 
	HEIGHT: 60px; 
	WIDTH: 280px; 
    margin-left:5px; 
    margin-top:195px;
    padding-left: 5px; 
    padding-right:5px;
    padding-bottom: 5px; 
    padding-top:0px; 
    background-color: #FC9E05;
    border-radius:10px;
}
#event{
	position:absolute; 
	HEIGHT: 300px; 
	WIDTH: 300px; 
    margin-left:450px; 
    margin-top:550px;
    padding-left: 0px; 
    padding-right:0px;
    padding-bottom: 0px; 
    padding-top:0px; 	  
}
#desevent{
	position:absolute; 
	HEIGHT: 50px; 
	WIDTH: 300px; 
    margin-left:0px; 
    margin-top:0px;
    padding-left: 0px; 
    padding-right:0px;
    padding-bottom: 0px; 
    padding-top:0px; 
}
#desevent1{
	position:absolute; 
	HEIGHT: 60px; 
	WIDTH: 280px; 
    margin-left:5px; 
    margin-top:55px;
    padding-left: 5px; 
    padding-right:5px;
    padding-bottom: 5px; 
    padding-top:0px; 
    background-color: #FC9E05;
    border-radius:10px;
}
#desevent2{
	position:absolute; 
	HEIGHT: 60px; 
	WIDTH: 280px; 
    margin-left:5px; 
    margin-top:125px;
    padding-left: 5px; 
    padding-right:5px;
    padding-bottom: 5px; 
    padding-top:0px; 
    background-color: #FC9E05;
    border-radius:10px;
}
#desevent3{
	position:absolute; 
	HEIGHT: 60px; 
	WIDTH: 280px; 
    margin-left:5px; 
    margin-top:195px;
    padding-left: 5px; 
    padding-right:5px;
    padding-bottom: 5px; 
    padding-top:0px; 
    background-color: #FC9E05;
    border-radius:10px;
}
div#menu ul {margin: 0;padding: 0; list-style: none;float: left;}
div#menu ul.menu {padding-left: 30px;}
div#menu li {position: relative;z-index: 9;margin: 0; padding: 0 5px 0 0;
             display: block; float: left;}
div#menu li:hover>ul {left: -2px;}
div#menu a {position: relative; z-index: 10; height: 41px;
            display: block; float: left; line-height: 41px; text-decoration: none;
            font: normal 12px Trebuchet MS;}
div#menu a:hover, div#menu a:hover span { color: #fff; }
div#menu li.current a {}

div#menu span {
    display: block;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 95% 0;
}
div#menu ul ul a.parent span {
    background-position:95% 8px;
    background-image: url(images/item-pointer.gif);
}
div#menu ul ul a.parent:hover span {
    background-image: url(images/item-pointer-mover.gif);
}

/* menu::level1 */
div#menu a {
    padding: 0 10px 0 10px;
    line-height: 30px;
    color: #e5e5e5;
}
div#menu span {
    margin-top: 5px;
}
div#menu li { background: url(images/main-delimiter.png) 98% 4px no-repeat; }
div#menu li.last { background: none; }

div#menu ul ul li { background: none; }
div#menu ul ul {
    position: absolute;
    top: 38px;
    left: -999em;
    width: 163px;
    padding: 5px 0 0 0;
    background: rgb(45,45,45);
    margin-top:1px;
}
div#menu ul ul a {
    padding: 0 0 0 15px;
    height: auto;
    float: none;
    display: block;
    line-height: 24px;
    color: rgb(169,169,169);
}
div#menu ul ul span {
    margin-top: 0;
    padding-right: 15px;
    _padding-right: 20px;
    color: rgb(169,169,169);
}
div#menu ul ul a:hover span {
    color: #fff;
}
div#menu ul ul li.last { background: none; }
div#menu ul ul li {
    width: 100%;
}

/* colors */
div#menu ul ul ul { background: rgb(41,41,41); }
div#menu ul ul ul ul { background: rgb(38,38,38); }
div#menu ul ul ul ul { background: rgb(35,35,35); }

/* lava lamp */
div#menu li.back {
    background: url(images/lava.png) no-repeat right -44px !important;
    background-image: url(images/lava.gif);
    width: 13px;
    height: 44px;
    z-index: 8;
    position: absolute;
    margin: -1px 0 0 -5px;
}
div#menu li.back .left {
    background: url(images/lava.png) no-repeat top left !important;
    background-image: url(images/lava.gif);
    height: 44px;
    margin-right: 8px;
}
#menu { margin:5px auto; }
div#copyright {
	position:absolute; 
    font:11px 'Trebuchet MS';
    color:white;
    text-indent:1px;
    padding:40px 0 0 0;
    margin-top:990px;
    margin-left:400px;
    padding-top:0px; 
}
div#copyright a { color:#000; }
div#copyright a:hover { color:#222; }
div#linea {
    position:absolute; 
	HEIGHT: 1px; 
	WIDTH: 1150px; 
    margin-left:25px; 
    margin-top:975px;
    padding-left: 0px; 
    padding-right:0px;
    padding-bottom: 0px; 
    padding-top:0px; 
    border-width: 1px; 
    border-color: #FC9E05;
    border-style: solid;
    border-radius:5px;	
    background-color: #FC9E05;
}


